body {
  background-color: var(--white);
  color: var(--black);
}

a:link {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

a:hover {
  color: var(--grey);
}

a:active {
  color: var(--black);
}

.navbar-fixed-top {
  padding-top: 20px;
  background: var(--white);
}
