
:root {
  --medium-spacing: 30px;
}
:root {
  --small-spacing: 10px;
}
:root {
  --titlized-large-font-size: 64px;
}
:root {
  --titlized-small-font-size: 40px;
}
:root {
  --small-headline-font-size: 24px;
}
:root {
  --black: #0A0A0A;
}
:root {
  --white: #FFFAFA;
}
:root {
  --grey: #5A5A5A;
}

/*$medium-spacing: 30px;*/
/*$small-spacing: 10px;*/

/*$titlized-large-font-size: 64px;*/
/*$titlized-small-font-size: 40px;*/
/*$small-headline-font-size: 24px;*/

/*$black:#0A0A0A;*/
/*$white:#FFFAFA;*/
/*$grey:#5A5A5A;*/

